/*@keyframes effectOnLoad {*/
/*    0% {*/
/*        width: 70%;*/
/*        height: 70%;*/
/*    }*/
/*    100% {*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/
/*}*/

/*img {*/
/*    animation: 1s ease-in-out 0s 1 effectOnLoad;*/
/*}*/